body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 700px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-width: 5px;
}

p {
    border: 5px rgb(255, 255, 255);
    color: black;
    padding: 20px;
    
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}
